name: Cache dependencies

on:
  push:
    branches:
      - main

jobs:
  cache:
    name: Cache dependencies
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        only-scripts:
          - true
          - false
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Cache dependencies
        uses: ./.github/actions/setup-node
        with:
          only-scripts: ${{ matrix.only-scripts }}
