name: Cache dependencies

on:
  push:
    branches:
      - main

jobs:
  cache:
    name: Cache dependencies
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        only-scripts:
          - true
          - false
    steps:
      - name: Check out code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Cache dependencies
        uses: ./.github/actions/setup-node
        with:
          only-scripts: ${{ matrix.only-scripts }}
