name: Conventional Commits

on:
  pull_request_target:
    types:
      - edited
      - opened
      - reopened
      - synchronize

jobs:
  validate-pull-request-title:
    name: Validate pull request title
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v4.5.0
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          types: |
            chore
            ci
            docs
            enhancement
            feat
            fix
            revert
            test
          requireScope: false
          subjectPattern: ^[A-Z].+$
          subjectPatternError: Subject "{subject}" does not start with an uppercase letter
          validateSingleCommit: true
