name: Publish

on:
  push:
    tags:
      - "@cerbos/*@*"

jobs:
  publish:
    name: Publish package to npm registry
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Check out code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Set up Node.js
        uses: ./.github/actions/setup-node

      - name: Publish
        run: scripts/publish
