name: Publish docs to GitHub Pages

on:
  workflow_dispatch:
  push:
    tags:
      - "@cerbos/*@*"

concurrency:
  group: publish-docs

jobs:
  generate:
    name: Generate docs
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Node.js
        uses: ./.github/actions/setup-node

      - name: Generate docs
        run: pnpm run docs

      - name: Bundle artifact
        working-directory: docs
        run: tar --create --file "${RUNNER_TEMP}/artifact.tar" --verbose .

      - name: Upload artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: github-pages
          path: ${{ runner.temp }}/artifact.tar
          retention-days: 1
          if-no-files-found: error

  publish:
    needs: generate
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      pages: write
    environment:
      name: github-pages
      url: ${{ steps.publish.outputs.page_url }}
    steps:
      - name: Publish docs to GitHub Pages
        id: publish
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
