name: Publish package to npm registry

on:
  push:
    tags:
      - "@cerbos/*@*"

jobs:
  publish:
    name: Publish package to npm registry
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Node.js
        uses: ./.github/actions/setup-node

      - name: Publish
        run: scripts/publish
