name: Update protos

on:
  workflow_dispatch:
  schedule:
    - cron: 0 8 * * 1

jobs:
  update-protos:
    name: Update protos
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Node.js
        uses: ./.github/actions/setup-node

      - name: Update protos
        run: pnpm run proto

      - name: Generate code
        run: pnpm run generate

      - name: Generate bot token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: generate-token
        with:
          app-id: ${{ secrets.CERBOS_BOT_CLIENT_ID }}
          private-key: ${{ secrets.CERBOS_BOT_PRIVATE_KEY }}

      - name: Create pull request
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        with:
          token: ${{ steps.generate-token.outputs.token }}
          branch: update-protos
          delete-branch: true
          reviewers: haines
          signoff: true
          sign-commits: true
          author: ${{ vars.CERBOS_BOT_AUTHOR }}
          committer: ${{ vars.CERBOS_BOT_AUTHOR }}
          commit-message: |-
            Update protos
          title: |-
            Update protos
          body: |-
            This PR updates protos and regenerates code.
          add-paths: |-
            packages/*/src/protobuf/**/*.ts
            private/*/src/protobuf/**/*.ts
            proto/**/*.proto
